<app-header></app-header>
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!-- <h3 class="bg-info w-50 m-auto">Data from Login Component: {{message}}</h3> --> -->
<!-- <app-reactiveform></app-reactiveform> -->
<!-- <br>
<h3 class="bg-info w-50 m-auto">Data from Login Component: {{message}}</h3> -->
<!-- 
<app-slider></app-slider>
<app-container></app-container>
<app-profile></app-profile> -->
<!-- <app-login (ourEvent) = "receivedChildData($event)"></app-login> -->
<!-- <app-sliderng></app-sliderng> -->
<!-- <app-table [receivedData] = "parentData"></app-table> -->
<!-- <app-table [receivedData] = "message"></app-table> -->
<!-- <app-detail-pro></app-detail-pro> -->
<app-footer></app-footer>